body{
    background-color: paleturquoise;
}

h1{
    margin: 1rem;
}

.container{
    border: solid 1px rgb(56, 56, 56);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 2rem
}
.image{
    width: 55vh;
}

p{
    margin: 1rem;
}

li{
    margin: 1rem;
}

h4{
    margin: 1rem;
}