body{
    background-color: cornflowerblue;
}
.card{
    border: solid 1px black;
    background-color: blueviolet;
    margin: 8rem;
    padding: 11rem;
    text-align: center;
    border-radius: 1.5rem;
    
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    text-align: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}