body{
    background-color:#82b1ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.barra{
    background-color: rgb(25, 174, 201);
    width: 400px;
    
    text-align: center;
    display: flex;
    flex-direction: row;
}
    
.quedan{
    color: red;

}   


.text_box{
    width: 250px;
    height: 360px;
    margin-top: 2rem;
    border-radius: 0.50rem;
    margin: 4rem;
    
}
.nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: initial;
    

}

.card{
    display: flex;
    flex-direction: column;
    border: solid black 0.2px;
    width: 400px;
    align-items: center;
    background-color: rgb(1, 67, 143);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}